altgraph==0.17.4
annotated-types==0.7.0
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
iniconfig==2.0.0
loguru==0.7.2
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pillow==10.4.0
pluggy==1.5.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.32.3
setuptools==72.0.0
six==1.16.0
tk==0.1.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
whichcraft==0.6.1
win32-setctime==1.1.0
zope.event==5.0
zope.interface==6.4.post2
